@import url(https://fonts.google.com/specimen/Inter);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background-color: hsl(233, 47%, 7%);
}

.container{
    display: flex; 
    flex-direction: row-reverse;
    width: 58%;
    max-height: 68vh;
    margin: auto;
    background: hsl(244, 38%, 16%);
    padding: 10px;
    padding-right: 8px;
    border-radius: 7px;
    margin-top: 35px;
    padding: 0%;
    justify-content: center;
}

img{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 100px;
    height: 100px;
}

.image__overlay{
       filter: opacity(0.5) drop-shadow(0 0 0 hsl(275, 93%, 48%));
        height: 50%;
        width: 50%;
}

.text_section{
    color:hsla(0, 0%, 100%, 0.75);
    margin: 7%;
}

h2{
   color:  hsl(0, 0%, 100%);
 
}

span{
    color: hsl(277, 64%, 61%);
}

.p_main{
    font-size: 12px;
    padding-top: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.info{
    padding-top: 45px;
    display: flex;
    gap: 3rem;
}

.p_stats{
    color: hsl(0, 0%, 100%);
    font-size: large;
    font-weight: bolder;
    font-family:serif
}

.p_stats1{
    font-size: small;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
a{
    text-decoration: none;
}

footer{
    padding-top: 10px;
    text-align: center;
    font-size: small;
    color: white;
}

@media screen and (max-width : 414px) {

    .container{
    display: flex; 
    flex-direction: column;
    height: 100vh;
    width: 80%;
    

}
.info{
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.text_section{
   text-align: center;
}

footer{
    display: none;
}
.image__overlay{
     width: 100%;
}

img{
    border-top-left-radius: 7px;
    border-bottom-right-radius:0;
}
}